@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
      font-family: 'Roboto Mono', monospace;
      text-align: center;
      /* background-color: rgb(76, 76, 76); */
}

img {
      width: 90%;
}

.gen {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 20px;
  justify-items: center;
  position: relative;
  margin: 50px auto;
  padding: 20px;
  /* background-color: brown; */
}

.card-holder {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 30vh;
        width: max(20vw);
}

.cards {
        height: 70%;
        width: 20vw;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        background-color: rgb(31, 27, 27);
        box-shadow: 0 0 5px red;
        border-radius: 20px;
}

/* CRT */
.container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 80vw;
      height: 350px;
      /* border: 1px solid #000; */
      position: relative;
      overflow: hidden;
      margin: 0 auto;
    }

    .crt {
      width: 70%;
      height: 100%;
    }

    .magnet {
      width: 50px;
      height: 100px;
      cursor: move;
      user-select: none;
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 0;
      transition: transform 0.3s;
    }

    .north,
    .south {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-weight: bold;
    }

    .north {
      background: red;
    }

    .south {
      background: blue;
    }